
$source: '../fonts/open-sans';

/* BEGIN Light */
@font-face {
  font-family: 'Open Sans';
  src: url( $source+ "/Light/OpenSans-Light.eot");
  src: url( $source+ "/Light/OpenSans-Light.eot") format("embedded-opentype"), 
  url( $source+ "/Light/OpenSans-Light.woff2") format("woff2"), 
  url( $source+ "/Light/OpenSans-Light.woff") format("woff"), 
  url( $source+ "/Light/OpenSans-Light.ttf") format("truetype"), 
  url( $source+ "/Light/OpenSans-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: 'Open Sans';
  src: url( $source+ "/LightItalic/OpenSans-LightItalic.eot");
  src: url( $source+ "/LightItalic/OpenSans-LightItalic.eot") format("embedded-opentype"), 
  url( $source+ "/LightItalic/OpenSans-LightItalic.woff2") format("woff2"), 
  url( $source+ "/LightItalic/OpenSans-LightItalic.woff") format("woff"), 
  url( $source+ "/LightItalic/OpenSans-LightItalic.ttf") format("truetype"), 
  url( $source+ "/LightItalic/OpenSans-LightItalic.svg") format("svg");
  font-weight: 300;
  font-style: italic; }
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url( $source+ "/Regular/OpenSans-Regular.eot");
  src: url( $source+ "/Regular/OpenSans-Regular.eot") format("embedded-opentype"), 
  url( $source+ "/Regular/OpenSans-Regular.woff2") format("woff2"), 
  url( $source+ "/Regular/OpenSans-Regular.woff") format("woff"), 
  url( $source+ "/Regular/OpenSans-Regular.ttf") format("truetype"), 
  url( $source+ "/Regular/OpenSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: 'Open Sans';
  src: url( $source+ "/Italic/OpenSans-Italic.eot");
  src: url( $source+ "/Italic/OpenSans-Italic.eot") format("embedded-opentype"), 
  url( $source+ "/Italic/OpenSans-Italic.woff2") format("woff2"), 
  url( $source+ "/Italic/OpenSans-Italic.woff") format("woff"), 
  url( $source+ "/Italic/OpenSans-Italic.ttf") format("truetype"), 
  url( $source+ "/Italic/OpenSans-Italic.svg") format("svg");
  font-weight: normal;
  font-style: italic; }
/* END Italic */

/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url( $source+ "/Bold/OpenSans-Bold.eot");
  src: url( $source+ "/Bold/OpenSans-Bold.eot") format("embedded-opentype"), 
  url( $source+ "/Bold/OpenSans-Bold.woff2") format("woff2"), 
  url( $source+ "/Bold/OpenSans-Bold.woff") format("woff"), 
  url( $source+ "/Bold/OpenSans-Bold.ttf") format("truetype"), 
  url( $source+ "/Bold/OpenSans-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal; }
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url( $source+ "/BoldItalic/OpenSans-BoldItalic.eot");
  src: url( $source+ "/BoldItalic/OpenSans-BoldItalic.eot") format("embedded-opentype"), 
  url( $source+ "/BoldItalic/OpenSans-BoldItalic.woff2") format("woff2"), 
  url( $source+ "/BoldItalic/OpenSans-BoldItalic.woff") format("woff"), 
  url( $source+ "/BoldItalic/OpenSans-BoldItalic.ttf") format("truetype"), 
  url( $source+ "/BoldItalic/OpenSans-BoldItalic.svg") format("svg");
  font-weight: bold;
  font-style: italic; }
/* END Bold Italic */


/*# sourceMappingURL=open-sans.css.map */
