extends ../../components/head/head

//- block info 
//-     -var pageID = 'home'
//-     -var pageClasses = 'page body class'
//-     -var title = 'Home'
//-     -var description = 'Otro homepage creado con'

//- block openGraph
    //- meta(property="og:title" content="")
    //- meta(property="og:description" content="")
    //- meta(property="og:type" content="article")
    //- meta(property="og:image" content=url + '/rutaImagen.png')

//- block twitterCards
    //- meta(name="twitter:card" content="summary_large_image")
    //- meta(name="twitter:site" content='@' + twitterUser)
    //- meta(name="twitter:creator" content='@' + twitterUser)
    //- meta(name="twitter:title" content="")
    //- meta(name="twitter:description" content="")
    //- meta(name="twitter:image" content=url + 'img/rutaImagen.png')

block contenido 
    include ../../components/header/header

    main(role="main")

        article Contacto

    
    //- include ../../components/sidebar/sidebar

    include ../../components/footer/footer
