/*******************************************************************************
/* Section registro */

#section-registro
    +backgroundImage
    min-height: single_view_size()
    +flexItem
    color: $white

/*******************************************************************************
/* Elementos de sección */

.login__checks
    margin:
        top: $boxModel
        bottom: $boxModel
    .login__check
        cursor: pointer
        +flexItem(center,start)
        @extend .ui-label-text
        margin:
            top: $boxModel / 3
            bottom: $boxModel / 3
        &-input
            $inputSize: 16px
            width: $inputSize
            height: $inputSize
            -webkit-appearance: none
            box-sizing: border-box
            border:
                style: solid 
                width: 2px
                color: $white
                radius: $inputSize
            margin: 0
            padding: 0
            vertical-align: middle
            margin-right: 10px
            position: relative
            &:checked 
                // background-color: $white
                &:after 
                    font:
                        family: 'Font Awesome 5 Free'
                        weight: 900
                        size: 8px
                    content: "\f00c"
                    color: $white
                    position: absolute
                    top: 0
                    bottom: 0
                    right: 0
                    left: 0
                    margin: auto
                    +flexItem
            &:focus
                outline: 0
            transition: all .25s $linear
            cursor: pointer
        &-label
            // flex: 1
            cursor: pointer