extends ../../components/head/head

block info 
    -var pageID = 'aviso-de-privacidad'
    -var title = 'Aviso de privacidad' + ' - ' + title_tag
    -var pageClasses = 'page body'
    //- -var description = 'Otro homepage creado con'

//- block openGraph
    //- meta(property="og:title" content="")
    //- meta(property="og:description" content="")
    //- meta(property="og:type" content="article")
    //- meta(property="og:image" content=url + '/rutaImagen.png')

//- block twitterCards
    //- meta(name="twitter:card" content="summary_large_image")
    //- meta(name="twitter:site" content='@' + twitterUser)
    //- meta(name="twitter:creator" content='@' + twitterUser)
    //- meta(name="twitter:title" content="")
    //- meta(name="twitter:description" content="")
    //- meta(name="twitter:image" content=url + 'img/rutaImagen.png')

block contenido 
    include ../../components/header/header

    main(role="main")

        article#section-article.wk-section
            .wk-section-wrap

                h1.ui-title-small.ui-text-center 
                    strong AVISO DE PRIVACIDAD

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur in voluptatibus voluptas beatae fuga aperiam dicta veritatis labore? Fugiat sapiente consequuntur, eveniet natus omnis unde dicta harum cupiditate fuga vel.
                p In voluptatibus voluptas beatae fuga aperiam dicta veritatis labore? Fugiat sapiente consequuntur, eveniet natus omnis unde dicta harum cupiditate fpernatur in voluptatibus voluptas beatae fuga aperiam dicta veruga aperiam dicta veritatis labore? Fugiat sapiente consequuntur, eveniet natus omnis unde dicta harum cupiditate fpernatur in voluptatibus voluptas beatae fuga aperiam dicta veritatis labore?tus omnis unde dicta harum cupiditate fpernatur in voluptatibus voluptas beatae fuga aperiam dicta veruga aperiam dicta veritatis labore? Fugiat sapiente consequuntur, eveniet natus omnis unde dicta harum riam dicta veritatis labore? Fugiat sapiente consequuntur, eveniet natus omnis unde dicta harum cupiditate fpernatur in voluptatibus voluptas beatae fuga aperiam dicta veritatis labore?tus omnis.
                p Riam dicta veritatis labore? Fugiat sapiente consequuntur, eveniet natus omnis unde dicta harum cupiditate fpernatur in voluptatibus voluptas beatae fuga aperiam dicta veritatis labore?tus omnis Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero animi, aliquid magnam, pariatur provident sapiente corrupti quibusdam totam adipisci neque dolores obcaecati accusamus ut! Ad consequatur explicabo dolor cumque ullam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi laborum provident minus adipisci optio expedita error iste dolor! Quibusdam repellat minima optio quasi. Inventore ullam et quam voluptatem voluptates sit?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur in voluptatibus voluptas beatae fuga aperiam dicta veritatis labore? Fugiat sapiente consequuntur, eveniet natus omnis unde dicta harum cupiditate fuicta veritatis labore? Fugiat sapiente consequuntur, eveniet natus omnis unde dicta harum cupiditate fuicta veritatis labore? Fugiat sapiente consequuntur, eveniet natus omnis unde dicta harum cupiditate fuga vel.
                p In voluptatibus voluptas beatae fuga aperiam dicta veritatis labore? Fugiat sapiente consequuntur, eveniet natus omnis unde dicta harum cupiditate fpernatur in voluptatibus voluptas beatae fuga aperiam dicta verugas unde dicta harum cupiditate fpernatur in voluptatibus voluptas beatae fuga aperiam dicta veruga aperiam dicta veritatis labore? Fugiat sapiente consequuntur, eveniet natus omnis unde dicta harum riam dicta veritatis labore? Fugiat sapiente consequuntur, eveniet natus omnis unde dicta harum cupiditate fpernatur in voluptatibus voluptas beatae fuga aperiam dicta veritatis labore?tus omnis.
                p Riam dicta veritatis labore? Fugiat sapiente consequuntur, eveniet natus omnis unde dicta harum cupiditate fpernatur in voluptatibus voluptas beatae fuga aperiam dicta veritatis labore?tus omnis Lorem ipsum dolor sit amet consuibusdam totam adipisci neque dolores obcaecati accusamus ut! Ad consequatur explicabo dolor cumque ullam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi laborum provident minus adipisci optio expedita error iste dolor! Quibusdam repellat minima optio quasi. Inventore ullam et quam voluptatem voluptates sit?


    
    //- include ../../components/sidebar/sidebar

    include ../../components/footer/footer
