/*******************************************************************************
/* input con label */

.in-solid
    display: block
    margin: 
        bottom: $boxModel / 2
        top: $boxModel / 2
    label
        @extend .ui-label-text
        color: inherit
        display: block
        margin:
            bottom: 4px
        cursor: pointer
    label,
    input
        width: 100%
    &__required
        color: red
        margin: 
            left: 3px
            right: 3px
            
/*******************************************************************************
/* Holder contenedor genérico */

.holder 
    width: 100%

.holder_center
    @extend .holder
    +flexItem(center,start,column)

.holder_small
    @extend .holder
    width: 100%
    max-width: 400px
    margin: 
        right: auto
        left: auto
    
.holder_center_small
    @extend .holder_center
    width: 100%
    max-width: 400px
    margin: 
        right: auto
        left: auto

.holder_medium
    @extend .holder
    width: 100%
    max-width: 700px
    margin: 
        right: auto
        left: auto
    
.holder_center_medium
    @extend .holder_center
    width: 100%
    max-width: 700px
    margin: 
        right: auto
        left: auto
    
/*******************************************************************************
/* Accont validate template */

.acc-vldt
    +flexItem(center,center,column)
    &__icon
        font-size: 82px
        margin: 
            top: $boxModel * 3
            bottom: $boxModel * 3