/* Mixins */


/* Mixins */

@mixin flexItem($align : center, $justify : center, $direction : false, $wrap : false, $inline : flex ) 

	@if $inline == true
		display: inline-flex
	@elseif $inline == flex or $inline == false
		display: flex
	@else
		@error "#{$inline}" no es válido en #{+flexItem} Se esperaba un valor booleano

	@if $align == baseline or $align == center or $align == flex-start or $align == flex-end
		align-items: $align
	@elseif $align == start
		align-items: flex-start
	@elseif $align == end
		align-items: flex-end
	@elseif $align == false 
	@else
		@error "#{$align}" no es válido en #{+flexItem} Se esperaba "center", "start" ó "end"

	@if $justify == center or $justify == flex-start or $justify == flex-end or $justify == space-around or $justify == space-between or $justify == space-evenly 
		justify-content: $justify
	@elseif $justify == around
		justify-content: space-around
	@elseif $justify == between
		justify-content: space-between
	@elseif $justify == evenly
		justify-content: space-evenly
	@elseif $justify == start
		justify-content: flex-start
	@elseif $justify == end
		justify-content: flex-end
	@elseif $justify == ''
		justify-content: center
	@elseif $justify == false
	@else
		@error "#{$justify}" no es válido en #{+flexItem} Se esperaba "center", "start", "end", "around", "between" ó "evenly" 

	@if $direction == row or $direction == row-reverse or $direction == column or $direction == column-reverse
		flex-direction: $direction
	@elseif $direction == reverse
		flex-direction: row-reverse
	@elseif $direction == true 
		flex-direction: row
	@elseif $direction != false
		@error "#{$direction}" no es válido Se esperaba boolean ó "row", "reverse", "column", "column-reverse"
		
	@if $wrap == wrap or $wrap == nowrap or $wrap == wrap-reverse
		flex-wrap: $wrap
	@elseif $wrap == true 
		flex-wrap: wrap 
	@elseif $wrap != false 
		@error "#{$wrap}" no es válido Se esperaba boolean ó "wrap", "nowrap", "wrap-reverse"


// Custom mixins

@mixin backgroundImage( $color: $mainColor, $image: url("../../assets/img/bancoppel-background.png"), $size: cover, $attachment: fixed )
	background:
        color: $color
        image: $image
        size: $size
        attachment: $attachment


