/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
	margin: 0
	padding: 0
	border: 0
	vertical-align: baseline
	font-size: inherit

ol, ul 
	list-style: none

table 
	border-collapse: collapse
	border-spacing: 0

// End reset

// Start custom reset

p 
	margin: 
		top: $boxModel
		bottom: $boxModel

body 
	font: 
		family: $mainFont
		size: $paragraphSize
	color: $gray
	line-height: 1.5
	

h1,h2,h3,h4,h5,h6 
	font: 
		family: $headersFont
		weight: inherit
	

a 
	color: inherit
	text-decoration: none
	transition: all .25s linear
	&:hover 
		color: darken($mainColor, 10)
	
	&:active 
		color: $mainColor
	

strong
    font-weight: 700

input,
textarea
	font-size: inherit


#{$all-text-inputs},
#{$all-buttons},
.btn,
.ui-btn
	min-height: 50px
	box-sizing: border-box
	padding:
		left: $boxModel
		rigth: $boxModel
	outline: 0
	border: 0

#{$all-buttons}
	border: 0





