// Colores
$mainColor: #1F76B9;
$secondaryColor: #F1CD3E;

$yellow: $secondaryColor;
$blue: $mainColor;
$red: #e5555f;
$gray: #777777;
$lightGray: #c9c9c9;
$cream: #fcecd4; 
$black: #292929;
$white: #ffffff;
$gold: gold;
$orange: #ff7700;
$aqua: #61faef;
$purple: #606cc6;
$green: #51c965;
$brown: brown;
$pink: deeppink;
$facebook: #395795;
$twitter: #1da1f2;
$pinterest: #e60024;
$whatsapp: #25d366;


$colors: (
"main"		: $mainColor,
"secondary"	: $secondaryColor,
"red"		: $red,
"yellow"	: $yellow,
"gold"		: $yellow,
"white"		: $white,
"black"		: $black,
"orange"	: $orange,
"blue"		: $blue,
"gray"		: $gray,
"lightgray"	: $lightGray,
"aqua"		: $aqua,
"purple"	: $purple,
"green"		: $green,
"brown"		: $brown,
"pink"		: $pink,
"cream"		: $cream,
'facebook'  : $facebook,
'twitter'   : $twitter,
'pinterest' : $pinterest,
'whatsapp'  : $whatsapp,
);

$sizes: (
"header"    : 80px,
"footer"    : 70px
);


// Fuentes
$mainFont: 'Open Sans', 'Helvetica', sans-serif;
$headersFont: $mainFont;

// Títulos 
$titleSize: 18px;
$titleSmallSize: 15px;

$titleBigSize: 30px;
$titleBigSizeMobile: 22px;

$titleExtraBigSize: 30px;
$titleExtraBigSizeMobile: 22px;

$titleMegaBigSize: 42px;
$titleMegaBigSizeDesktopLarge: 52px;
$titleMegaBigSizeMobile: 32px;
$titleMegaBigSizePhone: 32px;

$paragraphSize: 14px;
$paragraphWeight: 400;

$paragraphSmallSize: 12px;
$paragraphSmallWeight: 400;

$paragraphBigSize: 18px;
$paragraphBigWeight: 100;

$labelTextSize: 11px;
$helpTextSize: 10px;


// Caja
$boxModel: 20px;

// Media queries
$mobileMaxWidth: 756px;
$phoneMaxWidth: 416px;
$phoneSmallMaxWidth: 320px;
$desktopMaxWidth: 1280px;
$desktopLargeMinWidth: 1440px;

$mobile: ( max-width: $mobileMaxWidth );
$tablet: ( max-width: $mobileMaxWidth );
$phone: ( max-width: $phoneMaxWidth );
$phoneSmall: ( max-width: $phoneSmallMaxWidth );
$desktop: ( min-width: $mobileMaxWidth + 1 );
$desktopLarge: ( min-width: $desktopLargeMinWidth );
$desktopMedium: ( max-width: $desktopMaxWidth );

$onlyTablet: ( min-width: $phoneMaxWidth + 1 ) and ( max-width: #{$mobileMaxWidth} );
$onlyDesktopMedium: ( min-width: #{$desktopMaxWidth + 1} ) and ( max-width: $desktopLargeMinWidth );
$fromTablet: ( min-width: $phoneMaxWidth );

// Animaciones
$cubicBezier: cubic-bezier(1, -0.05, 0.2, 1);
$linear: linear;





