extends ../../components/head/head

block info 
    -var pageID = 'perfil'
    -var title = 'Mi Perfíl' + ' - ' + title_tag
    -var pageClasses = 'page body'
    //- -var description = 'Otro homepage creado con'


//- block openGraph
    //- meta(property="og:title" content="")
    //- meta(property="og:description" content="")
    //- meta(property="og:type" content="article")
    //- meta(property="og:image" content=url + '/rutaImagen.png')

//- block twitterCards
    //- meta(name="twitter:card" content="summary_large_image")
    //- meta(name="twitter:site" content='@' + twitterUser)
    //- meta(name="twitter:creator" content='@' + twitterUser)
    //- meta(name="twitter:title" content="")
    //- meta(name="twitter:description" content="")
    //- meta(name="twitter:image" content=url + 'img/rutaImagen.png')

block contenido 
    include ../../components/header/header

    main(role="main")

        section#section-perfil.wk-section
            .wk-section-wrap 

                h3.section-title.ui-title-big.ui-text-center PARTICIPA

                form.data-profile 
                    .wk-cols
                        .wk-col.data-profile__col.data-profile__col-data
                            h3.data-profile__section-title.ui-title-small.ui-text-center DATOS PERSONALES
                            -
                                // Key label en el array labels corresponde a:
                                // Label : requerido
                                var labels ={
                                    'Colonia': false, 
                                    'Calle': true, 
                                    'No ext': true, 
                                    'No int': false, 
                                    'Código postal' : true, 
                                    'Ciudad': false, 
                                    'Estado': false, 
                                    'Teléfono': false 
                                }
                            - var contador = 0
                            each val, index in labels
                                -contador++
                                +input(index, 'text', '', contador, val)

                        .wk-col.data-profile__col.data-profile__col-id
                            h3.data-profile__section-title.ui-title-small.ui-text-center COMPROBANTE DE DOMICILIO
                            input.perfil-data.perfil-data-file#data-comprobante-file(type="file" name="comprobante-de-domicilio")
                            h3.data-profile__section-title.ui-title-small.ui-text-center IDENTIFICACIÓN OFICIAL
                            input.perfil-data.perfil-data-file#data-comprobante-file(type="file" name="id-oficial")
                        .wk-col.data-profile__col.data-profile__col-asset
                            h3.data-profile__section-title.ui-title-small.ui-text-center TU DISEÑO
                            input.perfil-data.perfil-data-file#data-diseno(type="file" name="id-oficial")
                            p.ui-text-center 
                                a(href="diseno-cargado").ui-btn.ui-btn_yellow Guardar

    
    //- include ../../components/sidebar/sidebar

    include ../../components/footer/footer
