//- header.jade
include ../../globals/pug/_vars.pug
include ../../globals/pug/_mixins.pug
include ../../globals/pug/_array.pug
	
doctype html
html(lang="es_MX" dir="ltr")
	head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#")
		meta(charset="UTF-8")
		block info
		title=title
		meta(name="description" content=description)
			//- meta(name="creation_date" content="Wednesday, October 11th, 2017, 4:00 pm")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="apple-touch-fullscreen" content="yes")
		link(rel="icon" type="image/ico" href= url + 'assets/img/favicon.png')
		//- meta(name="theme-color" content=mobileBarColor)
		//- meta(name="apple-mobile-web-app-status-bar-style" content=appleStatusBarColor)
		link(rel="stylesheet" href=url + "assets/css/style.min.css")
		//- link(rel="canonical" href=url)
		//- Open Graph
		//- meta(name="fb:page_id" content=facebookID)
		//- meta(name="article:author" content=facebookURL)
		//- meta(name="og:region" content="MX")
		//- meta(property="og:site_name" content=fbSiteName)
		//- meta(property="og:locale" content=lang)
		//- meta(property="og:url" content=url)
		//- meta(name="og:country-name" content="Mexico")
		block openGraph
			//- meta(property="og:title" content=fbTitle)
			//- meta(property="og:description" content=fbDescription)
			//- meta(property="og:type" content=fbType)
			//- meta(property="og:image" content=url + fbImage)
		block twitterCards
		//- 	meta(name="twitter:card" content=twType)
		//- 	meta(name="twitter:site" content='@' + twitterUser)
		//- 	meta(name="twitter:creator" content='@' + twitterUser)
		//- 	meta(name="twitter:title" content=twTitle)
		//- 	meta(name="twitter:description" content=twDescription)
		//- 	meta(name="twitter:image" content=url + twImage)
		//- meta(name="author" content="Autor")
		//- meta(name="copyright" content="Propietario")
		//- meta(name="robots" content="index,follow")



	body(id=pageID class='wk-wrap-1300' + ' ' + pageClasses)
		
		block contenido

	
