extends ../../components/head/head

block info 
    -var pageID = 'votacion'
    -var title = 'Vota por tu tarjeta favorita' + ' - ' + title_tag
    -var pageClasses = 'page body'
    -var description = 'Vota por el diseño de la tarjeta de BanCoppel, ¡Participa!'

block openGraph
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    meta(property="og:type" content="article")
    meta(property="og:image" content=imageUrl + '/facebook-que-chulada-de-tarjeta.png')

block twitterCards
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content='@' + twitterUser)
    meta(name="twitter:creator" content='@' + twitterUser)
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:image" content=imageUrl + 'twitter-que-chulada-de-tarjeta.png')

block contenido 
    include ../../components/header/header

    main(role="main")

        article#section-votacion.wk-section: .wk-section-wrap

            .v-filter 
                span.v-filter__label Categorías
                .custom-select 
                    select 
                        - 
                            var options = [
                                'Todas',
                                'Categoría uno',
                                'Otra categoría',
                                'Una cateogoría más',
                                'La cuarta categoría'
                            ]
                        each val, index in options
                            option(value=index)= val 

            .v-samples
                -for(i = 1; i <= 16; i++) 
                    a.v-sample(href="tarjeta?=rafael-disneros")
                        img.v-sample__img(src="https://via.placeholder.com/700x380?text=Sample") 
                        span.v-sample__data
                            span.v-sample__data-info
                                span.v-sample__name Rafael Cisneros Maya
                                span.v-sample__label Diseño
                            span.v-sample__data-liked
                                if i % 2 == 1
                                    i.v-sample__data-liked-icon.fas.fa-heart.pulse
                                else 
                                    i.v-sample__data-liked-icon.far.fa-heart.pulse

            .v-pag 
                a.v-pag__prev(href="?page=1"): span.fas.fa-chevron-left
                -for(i = 1; i <= 5; i++) 
                    if i == 2
                        a(href="?page=" + i).v-pag__num.active= i
                    else 
                        a(href="?page=" + i).v-pag__num= i
                a.v-pag__next(href="?page=5"): span.fas.fa-chevron-right

    //- include ../../components/sidebar/sidebar

    include ../../components/footer/footer
