/*******************************************************************************
/* Section registro */

#section-votacion
    // +backgroundImage
    min-height: single_view_size()
    // +flexItem
    // color: $white
    // background-color: $mainColor
	

/*******************************************************************************
/* filtro de categorías */

.v-filter
	+flexItem(center,start)
	&__label
		margin:
			right: $boxModel / 2

/*******************************************************************************
/* Samples */

.v-samples
	@media #{$desktop} 
		+flexItem(start, between, row, wrap)
	cursor: pointer
	margin: 
		top: $boxModel
		bottom: $boxModel

.v-sample
	+flexItem(center,center,column)
	width: 100%
	@media #{$desktop} 
		max-width: 25%		
	position: relative
	flex: 1 auto
	box-sizing: border-box
	$vSamplePadding: $boxModel / 3
	padding:
		top: $vSamplePadding
		bottom: $vSamplePadding
		left: $vSamplePadding
		right: $vSamplePadding
	// @for $i from 1 through 20
	// 	&:nth-child(#{$i})
	// 		@if $i % 4 == 1
	// 			padding-right: $vSamplePadding
	// 		@else if $i % 4 == 0
	// 			padding-left: $vSamplePadding
	// 		@else 
	// 			padding-left: $vSamplePadding
	// 			padding-right: $vSamplePadding
	overflow: hidden
	&:hover 
		.v-sample__data
			opacity: 1
			transform: translateY(0)
	&__img
		width: 100%
		height: auto
	&__data
		color: $white
		position: absolute
		bottom: $vSamplePadding
		left: $vSamplePadding
		// right: $vSamplePadding
		+flexItem(center,between)
		background-color: rgba($black, .75)
		width: calc(100% - #{$vSamplePadding * 2})
		box-sizing: border-box
		transition: all .25s $cubicBezier
		transform: translateY(100%)
		opacity: 0
		padding: 
			top: $boxModel / 2
			right: $boxModel
			bottom: $boxModel / 2
			left: $boxModel
		&-info,
		&-liked
			flex: 1 auto
		&-info
			+flexItem(start,center,column)
		&-liked
			+flexItem(center,end)
			&-icon
				font-size: 16px
				color: $pink
	&__name
		@extend .ui-title
	&__label
		@extend .ui-label-text

/*******************************************************************************
/* Paginación */

.v-pag
	+flexItem
	&__num,
	&__prev,
	&__next
		// background: red 
		width: $boxModel
		height: $boxModel
		+flexItem
		// border-radius: 100px
	&__num
		font: 
			weight: 900
		margin:
			left: $boxModel / 4
			right: $boxModel / 4
		&.active
			border-bottom:
				style: solid 
				width: 1px
				color: $gray
		vertical-align: middle
	&__prev,
	&__next
		margin:
			left: $boxModel
			right: $boxModel
		vertical-align: middle

/*******************************************************************************
/* Select */



/* The container must be positioned relative:

$customElColor: $mainColor

.custom-select
	position: relative
	font-family: Arial
	width: 200px

select
	display: none

.select-selected
	background-color: $customElColor

	&:after
		position: absolute
		content: ""
		top: 14px
		right: 10px
		width: 0
		height: 0
		border: 6px solid transparent
		border-color: #fff transparent transparent transparent

	&.select-arrow-active:after
		border-color: transparent transparent #fff transparent
		top: 7px

/* Style the arrow inside the select element:

/* Point the arrow upwards when the select box is open (active):

/* style the items (options), including the selected item:

.select-items div, .select-selected
	color: #ffffff
	padding: 8px 16px
	border: 1px solid transparent
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent
	cursor: pointer

/* Style items (options):

.select-items
	position: absolute
	background-color: $customElColor
	top: 100%
	left: 0
	right: 0
	z-index: 99

/* Hide the items when the select box is closed:

.select-hide
	display: none

.select-items div:hover, .same-as-selected
	background-color: rgba(0, 0, 0, 0.1)