extends ../../components/head/head

block info 
    -var pageID = 'login'
    -var title = 'Login' + ' - ' + title_tag
    -var pageClasses = 'page body'
    //- -var description = 'Otro homepage creado con'

//- block openGraph
    //- meta(property="og:title" content="")
    //- meta(property="og:description" content="")
    //- meta(property="og:type" content="article")
    //- meta(property="og:image" content=url + '/rutaImagen.png')

//- block twitterCards
    //- meta(name="twitter:card" content="summary_large_image")
    //- meta(name="twitter:site" content='@' + twitterUser)
    //- meta(name="twitter:creator" content='@' + twitterUser)
    //- meta(name="twitter:title" content="")
    //- meta(name="twitter:description" content="")
    //- meta(name="twitter:image" content=url + 'img/rutaImagen.png')

block contenido 
    include ../../components/header/header

    main(role="main")

        article#section-recuperacion-contrasena.wk-section: .wk-section-wrap

            .login
                .login__container
                    h3.ui-title-small.ui-text-center RECUPERA TU CONTRASEÑA 
                    P Proporciona tu correo y te enviaremos un link para generar una nueva contraseña a tu cuenta.
                    form.login__form
                        fieldset 
                            +input( 'Correo electrónico', 'email', '', '1')
                            a#login__submit.btn.ui-btn.ui-btn_yellow(href="#" tabindex="3") Enviar
                    .login__links
                        a#login__registrar(href="login") Iniciar sesión
                

    //- include ../../components/sidebar/sidebar

    include ../../components/footer/footer
