extends ../../components/head/head

block info 
    -var pageID = 'login'
    -var title = 'Login' + ' - ' + title_tag
    -var pageClasses = 'page body'
    //- -var description = 'Otro homepage creado con'

//- block openGraph
    //- meta(property="og:title" content="")
    //- meta(property="og:description" content="")
    //- meta(property="og:type" content="article")
    //- meta(property="og:image" content=url + '/rutaImagen.png')

//- block twitterCards
    //- meta(name="twitter:card" content="summary_large_image")
    //- meta(name="twitter:site" content='@' + twitterUser)
    //- meta(name="twitter:creator" content='@' + twitterUser)
    //- meta(name="twitter:title" content="")
    //- meta(name="twitter:description" content="")
    //- meta(name="twitter:image" content=url + 'img/rutaImagen.png')

block contenido 
    include ../../components/header/header

    main(role="main")

        article#section-cuenta-vinculada.wk-section: .wk-section-wrap

            .holder_center_medium
                .acc-vldt
                    h3.ui-title-small.ui-text-center CUENTA VINCULADA
                    span.acc-vldt__icon.far.fa-check-circle
                    a.acc-vldt__btn.ui-btn.ui-btn_yellow Sube tu diseño
                

    //- include ../../components/sidebar/sidebar

    include ../../components/footer/footer
