/*******************************************************************************
/* Section tarjeta */

#section-muestra-tarjeta
    min-height: single_view_size()
    // +backgroundImage
    background-color: $mainColor
    // background-color: rgba($black, .15)
    color: $white
    @media #{$desktop} 
        +flexItem
    @media #{$mobile} 
        padding:
            top: 0
            bottom: 0
        

.t-muestra
    +flexItem(center,center,column)
    &__name
        margin:
            bottom: $boxModel * 2
    &__sample
        img
            width: 100%
            height: auto
            max-width: 700px
    &__links
        margin: 
            top: $boxModel
        @extend .ui-title
        @media #{$desktop} 
            +flexItem
        @media #{$mobile} 
            +flexItem(center,center,column)
        &-share,
        &-like
            @media #{$desktop} 
                margin: 
                    left: $boxModel * 2
                    rigth: $boxModel * 2
            margin: 
                top: $boxModel / 2
                bottom: $boxModel / 2
        $elWidth: 160px
        $elSmallWidth: 50px
        $animDuration: .5s
        &-share
            +flexItem(center,start)
            position: relative
            width: $elWidth
            &-trigger
                transition: all $animDuration $cubicBezier
                min-width: initial
                width: $elWidth
                text-align: center
                display: block
                .icon
                    display: none
                .text
                    display: block
                    animation:
                            name: showIcon
                            duration: $animDuration
                            delay: $animDuration
                            direction: forwards
                            fill-mode: backwards
                @media #{$mobile} 
                    margin: auto
                .share-is-active & 
                    width: $elSmallWidth
                    @media #{$desktop} 
                        text-align: left
                    @media #{$mobile} 
                        margin: auto
                        
                    .icon
                        display: block
                        animation:
                            name: showIcon
                            duration: $animDuration
                            timing-function: $cubicBezier
                    .text
                        display: none
                        
            &-group
                transition: all $animDuration $cubicBezier
                // transition: all .25s $linear
                position: absolute
                +flexItem
                @media #{$desktop} 
                    left: 100%
                @media #{$mobile} 
                    top: calc(100% + #{$boxModel})    
                opacity: 0
                visibility: hidden
                .share-is-active & 
                    @media #{$desktop} 
                        left: calc(100% - #{$elWidth} + #{$elSmallWidth})
                    @media #{$mobile} 
                        left: 0
                        right: 0
                        margin: auto
                    opacity: 1
                    visibility: visible
            &_single
                transition: opacity $animDuration $cubicBezier,filter .5s $cubicBezier, transform $animDuration $cubicBezier
                width: $elSmallWidth
                min-width: initial
                margin-left: 5px
                @media #{$desktop} 
                    transform: translateX(50px)
                @media #{$mobile} 
                    transform: translateY(50px)
                    
                opacity: .05
                filter: blur(4px)
                .share-is-active & 
                    @media #{$desktop} 
                        transform: translateX(0px)
                    @media #{$mobile} 
                        transform: translateY(0px)
                    opacity: 1
                    filter: blur(0px)
                // display: none
                // opacity: .25
                @for $i from 0 through 20
                    &:nth-child(#{$i})
                        $time: $i/8+.25
                        @if $i == 0
                            transition-delay: 0
                        @else 
                            transition-delay: #{$time}s

        &-like

@keyframes showIcon 
    from 
        display: none
        opacity: 0
    to 
        display: block 
        opacity: 1