extends ../../components/head/head

block info 
    -var pageID = 'muestra-tarjeta'
    -var title = 'Vota por Rafael Cisneros Maya' + ' - ' + title_tag
    -var pageClasses = 'page body'
    -var description = 'Vota por el diseño de la tarjeta de BanCoppel, ¡Participa!'

block openGraph
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    meta(property="og:type" content="article")
    meta(property="og:image" content=imageUrl + '/facebook-que-chulada-de-tarjeta.png')

block twitterCards
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content='@' + twitterUser)
    meta(name="twitter:creator" content='@' + twitterUser)
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:image" content=imageUrl + 'twitter-que-chulada-de-tarjeta.png')

block contenido 
    include ../../components/header/header

    main(role="main")

        article#section-muestra-tarjeta.wk-section: .wk-section-wrap

            .t-muestra 
                .t-muestra__name.ui-title-big Rafael Cisneros Maya
                .t-muestra__sample
                    img(src="https://via.placeholder.com/700x380?text=Sample")
                .t-muestra__links
                    a.ui-btn.ui-btn_yellow(href="#").t-muestra__links-like Me gusta
                    span.t-muestra__links-share
                        button.ui-btn.ui-btn_black(href="#").t-muestra__links-share-trigger
                            span.icon: i.fa.fa-times
                            span.text Compartir
                        span.t-muestra__links-share-group
                            -var copy = 'Vota por mi diseño de tarjeta para Bancoppel http://url.com/tarjeta/miguelcisneros'
                            -var copyComposed = copy + ' | ' + title_tag +' | '+ description
                            a.ui-btn.ui-btn_facebook.t-muestra__links-share_single(href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http://url.com/tarjeta/miguelcisneros','pagename','resizable,height=600,width=680'); return false;"): span.fab.fa-facebook-f
                            a.ui-btn.ui-btn_twitter.t-muestra__links-share_single(href="#" onclick="window.open('https://twitter.com/intent/tweet?text=Vota por mi diseño de tarjeta en http://url.com/tarjeta/miguelcisneros"+description+" @bancoppel #quechuladadetarjeta','pagename','resizable,height=600,width=680'); return false;"): span.fab.fa-twitter
                            a.ui-btn.ui-btn_whatsapp.t-muestra__links-share_single(href="whatsapp://send?text=" + copyComposed data-href="http://url.com/tarjeta/miguelcisneros" data-action="share/whatsapp/share"): span.fab.fa-whatsapp
                            a.ui-btn.ui-btn_lightgray.t-muestra__links-share_single(href="mailto:?subject=Vota por mi diseño de tarjeta en BanCoppel&body="+copyComposed+""): span.far.fa-envelope



            

    //- include ../../components/sidebar/sidebar

    include ../../components/footer/footer
