#main-header
    +flexItem
    position: sticky
    z-index: 11
    top: 0
    height: map-get($sizes, 'header')
    .header__col
        &-logo
            flex: auto
        &-menu
            @media #{$mobile} 
                display: none
        &-offcanvas
            @media #{$desktop} 
                display: none
            flex: auto
            margin:
                left: $boxModel * 2
            font-size: 22px
    .is-scrolled & 
        @media #{$desktop} 
            height: initial
        box:
            shadow: 0px 2px 10px rgba(black, .15)
    background: 
        color: $white
    .header__logo 
        display: inline-flex
        height: 100%
        +flexItem(center, start)
        .header__logoImg
            width: 100%
            max-width: 432px
            height: auto
            transition: all .25s $linear
            .is-scrolled & 
                max-width: 380px
    .header__nav
        .header__menu 
            @media #{$mobile} 
                display: none
            display: flex
            align-items: center
            justify-content: flex-end
            font: 
                size: 13px
            .header__menuItem 
                $borderWidth: 1px;
                transition: all .25s $linear
                border-bottom: $borderWidth solid transparent
                padding-left: $boxModel                
                padding-right: $boxModel                
                &:not(:last-child)
                &:not(:first-child)
                &:hover,
                &.is-active
                    color: $mainColor
                    text-shadow: 0px 0px 1px $mainColor
                    background-color: rgba(black, .1)
                    border:
                        bottom: 
                            style: solid 
                            width: $borderWidth 
                            color: $secondaryColor
                a
                    color: inherit
                    text-decoration: none;
                    box-sizing: border-box
                    padding: 
                        top: $boxModel * 1.5
                        bottom: $boxModel * 1.5
                    display: inline-block
                    transition: all .25s $linear 
                    .is-scrolled & 
                        padding: 
                            top: $boxModel
                            bottom: $boxModel
                        