header#main-header.wk-section
    .wk-section-wrap
        .wk-cols-m
            .wk-col.header__col.header__col-logo
                a#main-logo.logo.header__logo(href="index") 
                    img.header__logoImg(src=url + "assets/img/bancoppel-logo.png")
            .wk-col.header__col.header__col-menu
                nav.header__nav
                    ul.menu.header__menu
                        each value, index in menu
                            if index == 'bases'
                                li.header__menuItem.is-active: a(href=index)= value
                            else
                                li.header__menuItem: a(href=index)= value
            .wk-col.header__col.header__col-offcanvas
                span#header__offcanvas-icon 
                    i.fa.fa-bars

    

