$btnPaddingX: $boxModel
$btnPaddingY: $boxModel / 2
$btnMinHeight: $boxModel * 2
$btnFontSize: $paragraphSize
$btnFontWeight: 400

@mixin btn($color, $outline: false, $clear: false) 
	border: 0
	padding: 
		top: $btnPaddingY
		bottom: $btnPaddingY
		left: $btnPaddingX
		right: $btnPaddingX
	// min-height: 50px
	min-width: 150px
	text-transform: uppercase
	font: 
		weight: $btnFontWeight
		size: $btnFontSize
	border-radius: 3px
	box-shadow: 0px 6px 20px rgba($black, .1)
	&:focus 
		outline: 0
	@if $outline 
		background-color: transparent
		border: 
			color: $color
			style: solid
			width: 1px
		
		&:hover,
		&:focus
			color: darken($color, 20)
			//opacity: .65
			border-color: darken($color, 20)
		
		@if $color == $secondaryColor 
			color: $secondaryColor	
		@else if $color == $white 
			color: $white
		@else 
			color: $color
		
	@else if $clear 
		background-color: transparent
		border: 0
		&:hover,
		&:focus
			color: rgba(red($color), green($color), blue($color) - 50, 1)
			opacity: .65
		
		@if $color == $secondaryColor 
			color: $secondaryColor	
		@else if $color == $white 
			color: $white
		@else 
			color: $color
		
	@else 
		background-color: $color
		&:hover 
			//opacity: .65
			// background-color: darken($color, 15)
		
		@if $color == $secondaryColor or $color == $white 
			color: $black	
		@else 
			color: $white
	
	
	+flexItem(center,center,row,nowrap,true)
	box-sizing: border-box
	//border-radius: 40px
	transition: .25s $linear
	cursor: pointer
	.btn__icon
		margin: 
			left: $boxModel
			right: $boxModel

// Btn
[class*="ui-btn"],
[class*="ui-button"] 
	@include btn($mainColor)


[class*="ui-btn--outline"],
[class*="ui-button--outline"] 
	@include btn($mainColor, true)


[class*="ui-btn--clear"],
[class*="ui-button--clear"] 
	@include btn($mainColor, false, true)



// El map $color está definido en _vars.scss
// Crea un selector y valores para cada color en el map $colors
@each $color, $value in $colors 
	.ui-button--#{$color}, 
	.ui-btn_#{$color} 
		background-color: #{$value} 
		@if lightness($value) > 55 
			color: $black
		&:hover
			@if lightness($value) > 50 
				background-color: darken($value, 15)
				color: $white
			@else 
				background-color: lighten($value, 20)		
	
	.ui-btn_outline_#{$color}, 
	.ui-button_outline_#{$color}  
		border-color: $value
		color: $value 
		&:hover,
		&:focus
			@if lightness($value) > 50 
				border-color: darken($value, 15)
				color: darken($value, 15)
			@else 
				border-color: lighten($value, 20)
				color: lighten($value, 20)
		
.ui-btn_small 
	min-height: 35px !important
	min-width: initial
	font-size: 75%
		
	
	// .ui-btn-clear-#$color, .ui-button-clear-#$color  background-color: #$value 




