#section-perfil
    +backgroundImage
    min-height: single_view_size()
    +flexItem
    color: $white

.data-profile
    &__col
        @media #{$desktop} 
            width: calc(100% / 3)
        @media #{$mobile} 
            padding: 
                top: 0 !important
                bottom: 0 !important
        box-sizing: border-box
        &:not(:first-child)
            @media #{$desktop} 
                padding-left: $boxModel * 2
        &:not(:last-child)
            @media #{$desktop} 
                padding-right: $boxModel * 2
    &__section-title
        margin:
            bottom: $boxModel * 2
        @media #{$mobile} 
            margin-top: $boxModel * 2
    .ui-btn,
    .btn
        margin:
            left: auto
            right: auto
            top: $boxModel * 2
            bottom: $boxModel * 2
    #data-comprobante-file
        @media #{$desktop} 
            margin-bottom: 150px