// Init

@import 'bourbon'
@import 'includes/vars'
@import 'includes/reset'
@import 'includes/mixins'
@import 'includes/functions'
@import 'includes/elements'
@import 'includes/keyframes'

// Fonts 

@import '../fonts/fontawesome/fontawesome'
@import '../fonts/open-sans/open-sans'
@import '../fonts/material-icons/material-icons'

// UI
@import 'includes/ui/_ui'

// Vendor

@import '../vendor/fancybox/_fancybox'
@import '../vendor/slick/_slick'
@import '../vendor/wpkitui/wpkitui'


// Components 

@import '../../components/head/head'
@import '../../components/footer/footer'
@import '../../components/sidebar/sidebar'
@import '../../components/header/header'
@import '../../components/offcanvas/offcanvas'

// Layout modules

@import '../../modules/contacto/contacto'
@import '../../modules/login/login'
@import '../../modules/home/home'
@import '../../modules/aviso-de-privacidad/aviso-de-privacidad'
@import '../../modules/bases/bases'
@import '../../modules/loged/loged'
@import '../../modules/participa/participa'
@import '../../modules/perfil/perfil'
@import '../../modules/registro/registro'
@import '../../modules/terminos-y-condiciones/terminos-y-condiciones'
@import '../../modules/recuperacion-de-contrasena/recuperacion-de-contrasena'
@import '../../modules/cuenta-vinculada/cuenta-vinculada'
@import '../../modules/diseno-cargado/diseno-cargado'
@import '../../modules/votacion/votacion'
@import '../../modules/tarjeta/tarjeta'

// theme
@import 'includes/theme'

main
    .wk-section 
        box-sizing: border-box
        padding: 
            top: $boxModel * 3
            bottom: $boxModel * 3

    @media #{$mobile} 
        .wk-col 
            padding: 
                top: $boxModel * 2
                bottom: $boxModel * 2

    @media #{$desktop} 
        .wk-col-right
            padding-left: $boxModel / 2
        .wk-col-left
            padding-right: $boxModel / 2
        