#main-footer
    +flexItem
    @media #{$desktop} 
        height: map-get($sizes, footer)
    background: 
        color: $white
    font: 
        size: $labelTextSize
    box-sizing: border-box
    padding: 
        top: $boxModel
        bottom: $boxModel
    .footer__sup
        .footer__social 
            @media #{$desktop} 
                +flexItem(center, start)
            @media #{$mobile} 
                +flexItem
            .social__title
                
            .social__link
                margin: 
                    left: $boxModel
                    right: $boxModel
                .social__icon
                    font-size: 22px
        .footer__nav
            @media #{$desktop} 
                display: flex
                align-items: center
                justify-content: flex-end
            .footer__navItem
                @media #{$desktop} 
                    display: inline-block
                @media #{$mobile} 
                    +flexItem
                    margin: 
                        top: $boxModel
                        bottom: $boxModel
                &:not(:last-child)
                    margin-right: $boxModel
                    
    // .footer__inf
    //     padding:
    //         top: $boxModel
    //     text-align: center