footer#main-footer.wk-section 
    .wk-section-wrap 
        .footer__sup
            .wk-cols 
                .wk-col 
                    .footer__social
                        h3.social__title Siguienos en:
                        a.social__link(href=facebookURL target="_blank"): span.social__icon.fab.fa-facebook-f
                    
                .wk-col
                    nav.footer__nav 
                        span.footer__navItem
                            Copyright &copy; <strong>BanCoppel</strong> <span id="footer__year"></i>
                            script. 
                                var copyRightDate = new Date();
                                document.getElementById('footer__year').innerHTML = copyRightDate.getFullYear();
                        a.footer__navItem(href="aviso-de-privacidad") Aviso de privacidad
                        a.footer__navItem(href="terminos-y-condiciones") Términos y condiciones
        //- .footer__inf

include ../offcanvas/offcanvas
include ../../globals/pug/_index

script(type='text/javascript' src=url + 'assets/js/scripts.min.js')
script(type='text/javascript' src=url + 'assets/vendor/sweetalert2/sweetalert2.js')

script. 
    $('#login-facebook').click(function(){
        Swal.fire({
            title: 'Registro satisfactorio!',
            text: 'Revisa tu correo, recibirás una liga para validar tu cuenta.',
            icon: 'success',
            confirmButtonText: 'Aceptar'
        }).then( () => {
            window.location = 'cuenta-vinculada';  
        });
    });

    $('.views3jsa12 .icon').click(function() {
        $('body').toggleClass('proto-nav-is-active');
    });

