ul.views3jsa12
    style. 
        .views3jsa12 {
            list-style: disc;
            list-style-position: inside;
            position: fixed;
            top: 20%;
            z-index: 22;
            left: 0;
            background: white;
            font-size: 11px;
            padding: 20px;
            transition: all .25s ease-in-out;
            box-shadow: 0px 6px 22px rgba(0,0,0,.2);
            transform: translateX(-100%);
            background-color: #cfd1d1;
        }
        .views3jsa12 li {
            border-bottom: 1px solid #959393;
            padding: 6px 0;
        }
        .proto-nav-is-active .views3jsa12 {
            transform: translateX(0%);
        }
        .proto-nav-is-active .views3jsa12 .icon {
            transform: rotate(180deg);
        }
        .views3jsa12 .icon {
            position: absolute;
            top: 0;
            left: 100%;
            background-color: inherit;
            padding: 20px;
            cursor: pointer;
        }
        
    span.icon: i.fa.fa-chevron-right
    li: a(href="index") Home
    li: a(href="bases") Bases
    li: a(href="registro") Registro
    li: a(href="login") Login
    li: a(href="recuperacion-de-contrasena") Recuperación de <br>contraseña
    li: a(href="cuenta-vinculada") Cuenta vinculada
    li: a(href="loged") Loged
    li: a(href="perfil") Perfil
    li: a(href="diseno-cargado") Diseño cargado
    li: a(href="votacion"): strong Votación
    li: a(href="tarjeta") Tarjeta
    li: a(href="participa") Participa
    li: a(href="aviso-de-privacidad") Aviso de <br>privacidad
    li: a(href="terminos-y-condiciones") Términos y <br>condiciones
       