//- mixin input(id: false, type: text, label: false, placeholder: false, tabindex: false)
//- 	span
//- 		label(for=id)= label
//- 		input(id=id type=type placeholder=placeholder tabindex=tabindex)

mixin input(label=false, type='text', placeholder=false, tabindex=false, required=false)
    if label
        -var nomalizedLabel = label.normalize('NFD').replace(/[\u0300-\u036f]/g, "").toLowerCase().split(' ').join('-')
    span.in-solid.perfil-data(id='data-'+nomalizedLabel)
        if label
            label.perfl-data__label(for='data-input-'+nomalizedLabel)= label
                if required
                    sup.in-solid__required *
        input.perfil-data__input(id='data-input-'+nomalizedLabel type=type placeholder=placeholder tabindex=tabindex)