-var url = "http://localhost/creativitymedia/bancoppel/que-chulada-de-tarjeta/dist/"
-var assetsUrl = url + "assets/"
-var imageUrl = assetsUrl + "img/"
	
//-  
	Find facebook ID https://findmyfbid.com/
	
-var facebookID = '1634029503512125'	
-var twitterUser = 'bancoppel'

-var facebookURL = 'http://fb.me/bancoppel'
-var instagramURL = 'https://www.instagram.com/user'
-var twitterURL = 'https://twitter.com/bancoppel'
-var youtubeURL = 'https://www.youtube.com/user/user'

-var mobileBarColor = '#000'
-var appleStatusBarColor = '#000'

block info
-var pageID = ''
-var pageClasses = 'page body'
-var title = 'Qué Chulada de Tarjeta | Bancoppel'
-var title_tag = 'Qué Chulada de Tarjeta | Bancoppel'
-var description = 'Diseña la tarjeta de BanCoppel, participa y Gana 100,000'

//- Estas variables para redes sociales aplican para el home
//- y cada página, si deseas cambiar las metaetiquetas de 
//- cada una de ellas deberas incluirlas en un block Opengraph
-var fbTitle = title
-var fbSiteName = title
-var fbDescription = description
-var fbType = 'website'
-var fbImage = 'assets/img/facebook-poster.png'
-var twType = 'summary_large_image'
-var twTitle = title
-var twDescription = description
-var twImage = 'assets/img/twitter-card.png'


