#offcanvas-nav
    font-size: 13px
    background-color: $mainColor 
    color: $white
    position: fixed
    top: 0
    left: 0
    width: calc( 100% - 53px )
    max-width: 320px
    height: 100vh
    z-index: 11
    box-sizing: border-box
    +flexItem(start, between, column)
    transition: all .75s $cubicBezier
    transform: translateX(-100%)
    .off-canvas-is-active & 
        transform: translateX(0%)
    .header__menu
        width: 100%
        padding: 
            top: $boxModel
            bottom: $boxModel
        .header__menuItem
            box-sizing: border-box
            padding: 
                top: $boxModel
                right: $boxModel
                bottom: $boxModel
                left: $boxModel
            box-sizing: border-box
            padding:
                top: $boxModel / 2
                bottom: $boxModel / 2
                wdith: 100%
            border-bottom: 1px solid lighten($mainColor, 10)
        .header__menuItem-home
            .icon
                margin-right: $boxModel / 2
    // display: none
    .header__menu_bot
        box-sizing: border-box
        padding: 
            top: $boxModel
            right: $boxModel
            bottom: $boxModel
            left: $boxModel
        width: 100%
        +flexItem(center, between)
        font-size: 9px
        line-height: 3