#offcanvas-nav 
    ul.menu.header__menu
        each value, index in menu
            if index == 'bases'
                li.header__menuItem.is-active: a(href=index)= value
            if index == 'index'
                li.header__menuItem.header__menuItem-home.is-active: a(href=index)
                    span.icon.fa.fa-home
                    span= value
            else
                li.header__menuItem: a(href=index)= value
    ul.menu.header__menu_bot
        li.header__menuItem: a(href='terminos-y-condiciones') Términos y condiciones
        li.header__menuItem: a(href='aviso-de-privacidad') Aviso de privacidad