#section-home
    +flexItem
    +backgroundImage
    padding: 
        top: 0
        bottom: 0
    .wk-section-wrap
        // max-width: $desktopLargeMinWidth
        max-width: $desktopMaxWidth
            

.home
    .wk-col 
        // padding: 
        //     top: 0
        //     bottom: 0
    &__col
        @media #{$desktop} 
            min-height: single_view_size()
        +flexItem(center, center, column)
        &-1
            justify-content: space-around
            align-items: flex-end
            @media #{$mobile} 
                order: 1
                padding:
                    bottom: 0 !important
        &-2
            justify-content: flex-end
            overflow: hidden
            @media #{$mobile} 
                order: 3
                padding:
                    top: 0 !important
                    bottom: 0 !important
        &-3
            justify-content: space-around
            @media #{$mobile} 
                order: 2
                padding: 
                    bottom: 0 !important
                +flexItem(center,center,column-reverse)

    &__img
        width: 100%
        max-width: 400px
        height: auto
        margin: 
            left: auto
            right: auto
        &-1
            @media #{$desktop} 
                transform: translateX(100px)
        &-2
        &-3
            transform: translateY(100px)
            @media (min-height: 801px )
                transform: translateY(6%)

        &-4
            @media #{$desktop} 
                transform: translateX(-100px)
            @media #{$mobile} 
                margin-top: 50px
                
        &-5

    
    