extends ../../components/head/head

block info 
    -var pageID = 'home'
    -var title = 'Home' + ' - ' + title_tag
    -var pageClasses = 'body page'
    //- -var description = 'Otro homepage creado conss'

//- block openGraph
    //- meta(property="og:title" content="")
    //- meta(property="og:description" content="")
    //- meta(property="og:type" content="article")
    //- meta(property="og:image" content=url + '/rutaImagen.png')

//- block twitterCards
    //- meta(name="twitter:card" content="summary_large_image")
    //- meta(name="twitter:site" content='@' + twitterUser)
    //- meta(name="twitter:creator" content='@' + twitterUser)
    //- meta(name="twitter:title" content="")
    //- meta(name="twitter:description" content="")
    //- meta(name="twitter:image" content=url + 'img/rutaImagen.png')

block contenido 
    include ../../components/header/header

    main(role="main")

        article#section-home.wk-section: .wk-section-wrap

            .home 
        
                .wk-cols
                    .wk-col.home__col.home__col-1
                        img.home__img.home__img-1(src=imageUrl + 'bancoppel-tagline-que-chulada-de-tarjeta.png')
                        img.home__img.home__img-2(src=imageUrl + 'bancoppel-tagline-disena-la-tarjeta.png')
                    .wk-col.home__col.home__col-2
                        img.home__img.home__img-3(src=imageUrl + 'bancoppel-graphic-tarjeta-bancoppel.png')
                    .wk-col.home__col.home__col-3
                        img.home__img.home__img-4(src=imageUrl + 'bancoppel-tagline-pont-tu-creatividad-aqui.png')
                        img.home__img.home__img-5(src=imageUrl + 'bancoppel-tagline-participa-y-gana.png')
            

    //- include ../../components/sidebar/sidebar

    include ../../components/footer/footer
