
/*******************************************************************************
/* Section */

#section-login
    +backgroundImage
    min-height: single_view_size()
    +flexItem
    color: $white

/*******************************************************************************
/* Pasos */

.pasos 
    +flexItem( center, center, column )
    .pasos__img 
        width: 100%
        img 
            width: 100%
            height: auto
    .pasos__items 
        width: 100%
        display: grid
        grid-template-columns: 3fr 3fr 3fr
        @media #{$phone} 
            +flexItem(center, center, column)
        .pasos__item
            +flexItem( center, center, column )
            @media #{$phone} 
                width: 100%
                +flexItem(center, between, row)
                // &:nth-child(odd)
                //     background-color: rgba($black, .1)
                &:not(:last-child)
                    border-bottom: 1px solid rgba($white, .45)
                    
                margin: 
                    top: $boxModel / 3
                    bottom: $boxModel / 3
                box-sizing: border-box
                padding: 
                    left: $boxModel / 3
                    right: $boxModel / 3
            text:
                align: center
            .pasos__num
                font: 
                    size: 130%
                border:
                    // style: solid
                    // width: 2px 
                    // color: $white
                    radius: 100px
                background-color: $white
                color: $black
                box: 
                    sizing: border-box
                +flexItem(center,center)
                width: $boxModel * 2.5
                height: $boxModel * 2.5
                margin: 
                    top: $boxModel
                    bottom: $boxModel
            .pasos__titleFirst
            .pasos__titleSecond
            .pasos__icon
                margin: 
                    top: $boxModel
                font: 
                    size: 32px
                @media #{$phone} 
                    margin: 
                        top: 0

/*******************************************************************************
/* Login form */

.login 
    .login__container
        @media #{$desktop} 
            max-width: 400px
        width: 100%
        // background: pink
        margin:
            left: auto
            right: auto
    .btn, input, textarea, legend
        width: 100%
        box-sizing: border-box
        // &:not(:last-child)
        //     margin: 
        //         // top: $boxModel
        //         bottom: $boxModel
    .btn, .in-solid
        margin:
            top: $boxModel / 2
            bottom: $boxModel / 2
    input, textarea 
        padding: 
            top: $boxModel / 2.5
            bottom: $boxModel / 2.5
            left: $boxModel
            right: $boxModel
    .login__formTitle
        +flexItem
        padding:
            top: $boxModel
            bottom: $boxModel
    .login__links 
        @extend .ui-label-text
        +flexItem(center,space-between)
        font:
            weigth: 700
    
