extends ../../components/head/head

block info 
    -var pageID = 'login'
    -var title = 'Login' + ' - ' + title_tag
    -var pageClasses = 'page body'
    //- -var description = 'Otro homepage creado con'

//- block openGraph
    //- meta(property="og:title" content="")
    //- meta(property="og:description" content="")
    //- meta(property="og:type" content="article")
    //- meta(property="og:image" content=url + '/rutaImagen.png')

//- block twitterCards
    //- meta(name="twitter:card" content="summary_large_image")
    //- meta(name="twitter:site" content='@' + twitterUser)
    //- meta(name="twitter:creator" content='@' + twitterUser)
    //- meta(name="twitter:title" content="")
    //- meta(name="twitter:description" content="")
    //- meta(name="twitter:image" content=url + 'img/rutaImagen.png')

block contenido 
    include ../../components/header/header

    main(role="main")

        article#section-login.wk-section: .wk-section-wrap
            .wk-cols 
                .wk-col.wk-col-left
                    .pasos 
                        .pasos__img 
                            img(src="https://via.placeholder.com/450x200?text=Gif+Master+Grafic") 
                        .pasos__items 
                            mixin paso(index,titleFirst, titleSecond, fontawesome_name)
                                .pasos__item
                                    span.pasos__num= index
                                    span.pasos__titleFirst
                                        strong=titleFirst 
                                        br
                                        span.pasos__titleSecond=titleSecond
                                    span.pasos__icon: i(class='fas fa-' + fontawesome_name + '')

                            +paso('1', 'Descarga', 'la plantilla', 'file-download')
                            +paso('2', 'Diseña', 'tu tarjeta', 'upload')
                            +paso('3', 'Sube', 'tu diseño', 'credit-card')

                    
                .wk-col.wk-col-right
                    .login
                        .login__container
                            a#login-facebook.btn.btn__fb.ui-btn(href="#") 
                                span.login__icon.btn__icon.fab.fa-facebook-f
                                | Inicia sesión con Facebook
                            form.login__form
                                fieldset 
                                    legend.login__formTitle Ó inicia sesión con email
                                    +input( 'Correo electrónico', 'email', '', '1')
                                    +input( 'Contraseña', 'password', '', '2')
                                    a#login__submit.btn.ui-btn.ui-btn_yellow(href="#" tabindex="3") Entrar
                            .login__links 
                                a#login__recuperar(href="recuperacion-de-contrasena") Olvidé mi contraseña
                                a#login__registrar(href="registro") Registrarme
                

    //- include ../../components/sidebar/sidebar

    include ../../components/footer/footer
